{% extends 'AppBundle::layout.html.twig' %}

{% block javascript %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvJgZfgh6pTVjoEIHTfb5DgXZxc1v8uRQ"></script>
{% endblock %}

{% block headscripts %}
<script type="text/javascript">
/* Contact / Google maps */
function initialize() {
    var myLatlng = new google.maps.LatLng(50.053420, 14.341618);
    var mapOptions = {
        center: myLatlng, 
        zoom: 16,
        disableDefaultUI: true
    };
                
    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        icon: '/images/icons/marker.png',
        title:"Hello World!"
    });

}
              
google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}

{% block title %}Contact - Frostbit.cz{% endblock %}

{% block content %}
        <!-- Contact -->
        <div class="row">
            <div class="col-md-4">
                <h2>Frostbit.cz</h2>
            </div>
            <div class="col-md-4">
                <h2>O nás</h2>
            </div>
            <div class="col-md-4">
                <h2>Kontakt</h2>
            </div>

            <div class="col-md-12">
                <div id="map-canvas" style="width: 100%;height:350px;"></div>
            </div>
        </div>
{% endblock %}